<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic registeration form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container my-4 mx-auto">
    <div class="outer mb-5">
      <img src="{{croppedImagepath}}" height="100px" width="100px" />
      <div class="inner" (click)="selectimageOptions()">
        <ion-icon name="camera" class="camera-icon"></ion-icon>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="saveDetails()">
      <ion-list>
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Your Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <small
          *ngIf="form.get('name').invalid && (form.get('name').dirty ||form.get('name').touched )"
        >
          <small *ngIf="(form.get('name')).errors?.required"
            >Name is required</small
          >
          <small *ngIf="(form.get('name')).errors?.minlength"
            >Please enter more than 4 character</small
          >
        </small>

        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Your Email address</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <div
          *ngIf="(form.get('email').invalid && (form.get('email')).touched) || (form.get('email')).dirty"
        >
          <small *ngIf="(form.get('email')).errors?.required"
            >Email is required</small
          >
          <small *ngIf="(form.get('email')).errors?.pattern"
            >Please provide a valid email address</small
          >
        </div>
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">DOB</ion-label>
          <ion-input type="date" formControlName="dob"></ion-input>
        </ion-item>

        <small
          *ngIf="form.get('dob').invalid && (form.get('dob').dirty ||form.get('dob').touched )"
        >
          DOB is required.
        </small>

        <!-- <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <small
          *ngIf="form.get('password').invalid && (form.get('password').dirty ||form.get('password').touched )"
        >
          Password is required.
        </small>

        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            type="password"
            formControlName="confirmPassword"
          ></ion-input>
        </ion-item>
        <small
          *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty ||form.get('confirmPassword').touched )"
        >
          Confirm password is required.
        </small> -->

        <ion-item class="ion-float-right" lines="none">
          <ion-button color="success" [disabled]="!form.valid" type="submit"
            >Save Details</ion-button
          >
          <ion-button color="danger" (click)="showDetails()"
            >Show Details</ion-button
          >
        </ion-item>
      </ion-list>
    </form>
  </div>

  <ion-grid>
    <ion-row *ngIf="crud.USERS?.length > 0">
      <ion-col><strong>Name</strong></ion-col>
      <ion-col><strong>Email</strong></ion-col>
      <ion-col><strong>Dob</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let user of crud.USERS">
      <ion-col>
        <div>{{ user.name }}</div>
      </ion-col>
      <ion-col>
        <div>{{ user.email }}</div>
      </ion-col>
      <ion-col>
        <div>{{ user.dob }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
